$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.startdate {
    position: relative;
    input {
        cursor: pointer;
    }
    i {
        &.glyphicon-calendar {
            position: absolute;
            bottom: 10px;
            right: 24px;
            top: auto;
            cursor: pointer;
        }
    }
}

.loading {
    p {}
}

.results {
    .daterange {
        position: relative;
        .daterangepicker {
            &:before,
            &:after {
                display: none;
            }
        }
    }
}